validate_aie_pl
*.jou
profile_summary.html
profile_summary.csv
_v++_*/
.Xil/
*.ll
*.exe
emconfig.json
xmltmp
dltmp*
runtime/
*.log
xclbin/
lib/
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.swp
log.*
*.txt
*.bin
*.xclbin
build*
_x*
!x3h/rx_exerciser_tx_passthrough/pcaprecv.txt
!x3h/rx_exerciser_tx_passthrough/pcapsend.txt

